* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
    display: flex;
    min-height: calc(100vh - 80px);
}

.main-content {
    flex: 1;
    padding: 2rem;
    background: #f9fafb;
}

.list-container {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.list-box {
  flex: 1;
  background: #ffffff;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.list-box h2 {
  margin-bottom: 1rem;
  color: #ee7202;
  text-align: center;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
}


.company-table th,
.company-table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.company-table th {
  background: #f5f5f5;
}

.action-btn {
  margin: 20px 0px;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.view-btn { background-color: #ee7202; color: white; }
.edit-btn { background-color: #007bff; color: white; }
.delete-btn { background-color: #dc3545; color: white; }

.buttons {
  display: flex;
  gap: 0.5rem;
}