<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-header">
      <h2>Editar Empresa</h2>
      <button class="cerrar-btn" (click)="cerrar.emit()">✕</button>
    </div>
    <div class="modal-body">
      <label>Nombre de la Empresa</label>
      <input name="nombre" [(ngModel)]="empresa.nombre" placeholder="Nombre" required />

      <label>Dirección de la Empresa</label>
      <input name="direccion" [(ngModel)]="empresa.direccion" placeholder="Dirección" required />

      <label>Teléfono</label>
      <input name="telefono" [(ngModel)]="empresa.telefono" placeholder="Teléfono" required />

      <label>Email</label>
      <input name="email" [(ngModel)]="empresa.email" type="email" placeholder="Email" required />
    </div>
    <div class="modal-footer">
      <button class="cancelar" (click)="cerrar.emit()">Cancelar</button>
      <button class="guardar" (click)="guardar()">Actualizar</button>
    </div>
  </div>
</div>
