<nav class="navbar">
    <div class="nav-left">
        <a class="nav-link" (click)="irALogin()">Inicio</a>
        <a class="nav-link" href="https://badak.mx">Pagina</a>
        <a class="nav-link active" (click)="irAContacto()">Contacto</a>
    </div>
    <div class="nav-right">
        <button class="lang-btn">ES</button>
    </div>
</nav>
<div class="container">
    <h1 class="page-title">Mándanos un mensaje</h1>

    <div class="contact-form">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" id="email" placeholder="Ingrese su correo" required>
                </div>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" placeholder="Ingrese su nombre" required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="tel" id="phone" placeholder="Ingrese su teléfono" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="subject">Asunto</label>
                    <input type="text" id="subject" placeholder="Ingrese el asunto" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea id="description" placeholder="Ingrese la descripción" required></textarea>
                </div>
            </div>

            <button type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>

    <div class="contact-info two-columns">
        <div class="contact-left">
            <h3>Te escuchamos</h3>
            <div class="contact-item">
                <img src="assets/telefono.png" alt="Phone Icon" class="contact-icon">
                <span>(55) 2249 3940</span>
            </div>
            <div class="contact-item">
                <img src="assets/ubicacion.png" alt="Location Icon" class="contact-icon">
                <div>
                    <div>Lunes a Viernes: 8:00 – 18:00</div>
                    <div>Sábados: 8:30 – 13:00</div>
                </div>
            </div>
            <div class="contact-item">
                <img src="assets/whatssapp.png" alt="WhatsApp Icon" class="contact-icon">
                <span>WhatsApp: 55 2222 9454</span>
            </div>
            <div class="contact-item">
                <img src="assets/email.png" alt="Email Icon" class="contact-icon">
                <span>badakcontacto&#64;badak.com</span>
            </div>
        </div>

        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.640957027224!2d-99.1705808!3d19.431191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e7b121a63017%3A0xc728334aaae6c972!2sBadak%20-%20Innovaci%C3%B3n%20y%20Desarrollo!5e0!3m2!1ses-419!2smx!4v1717284371363!5m2!1ses-419!2smx"
                width="100%" height="300" style="border:0; border-radius: 12px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>


    </div>

</div>