/* HEADER */
.header {
    position: sticky;
    background: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
    display: flex;
    align-items: center;
    height: 40px;
}

.logo-img {
    height: 100%;
    max-height: 40px;
    object-fit: contain;
}


/* AVATAR */
.user-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background: #ee7202;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}